<h1>family settings</h1>

<form action="/families/<%= @family.id %>/edit" method="post">
  <div class="form-field">
    <label class="label" for="family[name]">Name</label>
    <input type="text" name="family[name]" value="<%= @family.name %>">
  </div>
  <div class="form-field">
    <label class="label" for="family[slogan]">Slogan</label>
    <input type="text" name="family[slogan]" value="<%= @family.slogan %>">
  </div>
  <div class="form-field">
    <label class="label" for="family[hometown]">Hometown</label>
    <input type="text" name="family[hometown]" value="<%= @family.hometown %>">
  </div>
  <div class="form-field">
    <label class="label" for="family[homestate]">Home State</label>
    <input type="text" name="family[homestate]" value="<%= @family.homestate %>">
  </div>
  <div class="form-field">
    <label class="label" for="family[homecountry]">Home Country</label>
    <input type="text" name="family[homecountry]" value="<%= @family.homecountry %>">
  </div>
  <div class="form-field">
    <label class="label" for="family[cover_photo_link]">Cover Photo</label>
    <input type="text" name="family[cover_photo_link]" value="<%= @family.cover_photo_link %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[password]">Password</label>
    <input type="password" name="user[password]">
  </div>
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Save Changes">
</form>



