<h1>account settings</h1>

<form action="/users/<%= @user.id %>" method="post">
  <div class="form-field">
    <label class="label" for="user[first_name]">First Name</label>
    <input type="text" name="user[first_name]" value="<%= @user.first_name %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[last_name]">Last Name</label>
    <input type="text" name="user[last_name]" value="<%= @user.last_name %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[nickname]">Nickname</label>
    <input type="text" name="user[nickname]" value="<%= @user.nickname %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[email]">Email</label>
    <input type="email" name="user[email]" value="<%= @user.email %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[phone]">Phone</label>
    <input type="text" name="user[phone]" value="<%= @user.phone %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[address]">Current Address</label>
    <input type="text" name="user[address]" value="<%= @user.address %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[state]">Current State</label>
    <input type="text" name="user[state]" value="<%= @user.state %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[country]">Current Country</label>
    <input type="text" name="user[country]" value="<%= @user.country %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[birthday]">Birthday</label>
    <input type="date" name="user[birthday]" value="<%= @user.birthday %>">
  </div>
  <div class="form-field">
    <label class="label" for="user[password]">Password</label>
    <input type="password" name="user[password]">
  </div>
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Save Changes">
</form>