<% @polls.each do |poll| %>
  <div class="poll-container">
    <p><%= poll.question %> by <%= poll.user.nickname %></p>
    <p><%= poll.description %></p>
      <% poll.options.reverse.each do |option| %>
        <div>
          <p><%= option.description %> : <%= option.vote_count %> votes</p> 
          Voters: 
          <% option.votes.each do |vote| %>
            <%= vote.backer.nickname %>
          <% end %>
          <% unless current_user_voted_for(poll) %>
            <form action="/families/<%= current_family.id %>/polls/<%= poll.id %>/options/<%= option.id %>/votes/new" method="post">
              <input type="submit" value="vote!">
            </form>
          <% end %>
        </div>
      <% end %>
        <% if vote = current_user_voted_for(poll) %>
          <div>
            <p>You have voted already!</p>
            <form action="/families/<%= current_family.id %>/users/<%= vote.backer.id %>/polls/<%= poll.id %>/options/<%= vote.option.id %>/votes/<%= vote.id %>/delete" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="change my vote">
            </form>
          </div>
        <% end %>
    <div>
      <a href="/families/<%= current_family.id %>/polls/<%= poll.id %>/show">view poll</a>
      <% if authenticate_current_user_access_to(poll) %>
        <a href="/families/<%= current_family.id %>/users/<%= poll.user.id %>/polls/<%= poll.id %>/edit">edit poll</a>
        <form action="/families/<%= current_family.id %>/users/<%= poll.user.id %>/polls/<%= poll.id %>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
      <% end %>
    </div>
  </div>
<% end %>