<h1>edit your poll</h1>
<form action="/polls/<%= @poll.id %>/edit" method="post">
  <input type="text" name="poll[question]" value="<%= @poll.question %>">
  <textarea rows="10" name="poll[description]"><%= @poll.description %></textarea>
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="save">
</form>

    <ul>
      <% @poll.options.each do |option| %>
        <li>
          <%= option.description %>
          <a href="/polls/<%= @poll.id %>/options/<%= option.id %>/edit">edit option</a>
          <form action="/polls/<%= @poll.id %>/options/<%= option.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete option">
          </form>
        </li>
      <% end %>
    </ul>
