<h1>edit your poll</h1>

<form action="/families/<%= current_user.family.id %>/polls/<%= @poll.id %>/edit" method="post">
  <div class="form-field">
    <label for="poll[question]">Question</label>
    <input type="text" name="poll[question]" value="<%= @poll.question %>">
  </div>
  <div class="form-field">
    <label for="poll[description]">Description</label>
    <textarea rows="10" name="poll[description]"><%= @poll.description %></textarea>
  </div>
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="save">
</form>
    <ul>
      <% @poll.options.each do |option| %>
        <li>
          <%= option.description %>
          <a href="/families/<%= current_user.family.id %>/polls/<%= @poll.id %>/options/<%= option.id %>/edit">edit option</a>
          <form action="/families/<%= current_user.family.id %>/polls/<%= @poll.id %>/options/<%= option.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete option">
          </form>
        </li>
      <% end %>
    </ul>
