<div class="poll-container">
  <p><%= @poll.question %> by <%= @poll.user.nickname %></p>
  <p><%= @poll.description %></p>
  <ul>
    <% @poll.options.each do |option| %>
      <li>
        <%= option.description %>
        <% unless current_user_voted_in(@poll) %>
          <form action="/families/<%= current_user.family.id %>/polls/<%= @poll.id %>/options/<%= option.id %>/votes/new" method="post">
            <input type="submit" value="vote!">
          </form>
        <% end %>
      </li>
    <% end %>
    <% if current_user_voted_in(@poll) %>
      <p>You have voted already!</p>
    <% end %>
  </ul>
  <% if authenticate_current_user_access_to(@poll) %>
    <a href="/families/<%= current_family.id %>/users/<%= @poll.user.id %>/polls/<%= @poll.id %>/edit">edit poll</a>
    <form action="/families/<%= current_family.id %>/users/<%= @poll.user.id %>/polls/<%= @poll.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  <% end %>
</div>

<a href="/families/<%= current_user.id %>/show">back</a>
