<h1>edit your album</h1>

<form action='/families/<%= current_family.id %>/users/<%= @album.user.id %>/albums/<%= @album.id %>/edit' method='post'>
	<div class="form-field">
	  <label for='album-title'>Title</label>
	  <input type="text" name="album[title]" id="album-title" value="<%= @album.title %>">
	</div>
	<div class="form-field">
	  <label for='album-description'>Description</label>
	  <input type="text" name="album[description]" id="album-description" value="<%= @album.description %>">
	</div>
	<div class="form-field">
	  <label for='album-location'>Location</label>
	  <input type="text" name="album[location]" id="album-location" value="<%= @album.location %>">
	</div>
	<input type="hidden" name="_method" value="put">
  <button type='submit'>Save</button>
</form>

<% @album.photos.each do |photo| %>
	<div class="photo-container">
		<img src="<%= photo.src %>" alt="<%= photo.caption %>" width="100%;">
		<p><%= photo.caption %></p>
		<p>Taken: <%= photo.location %></p>
		<p>By: <%= photo.user.nickname %></p>
		<p>Album: <%= photo.album %></p>
		<p>Tags:</p> 
			<% photo.tags.each do |tag| %>
				<%= tag.word %>
			<% end %>
		<a href="/families/<%= current_family.id %>/photos/<%= photo.id %>/show">view photo</a>
		<% if authenticate_current_user_access_to(photo) %>
			<a href="/families/<%= current_family.id %>/users/<%= photo.user.id %>/photos/<%= photo.id %>/edit">edit photo</a>
			<form action="/families/<%= current_family.id %>/users/<%= photo.user.id %>/photos/<%= photo.id %>/delete" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="delete photo">
			</form>
		<% end %>
	</div>
<% end %>
