<div class="bg-container">
	<div class="family-cover-photo">
		<img src="<%= @family.cover_photo_link %>">
		<div class="caret"><i class="fa fa-caret-up" title="scroll up!"></i></div>
		<h1><%= @family.name %></h1>
		<h3>"<%= @family.slogan %>"</h3>
	</div>

	<div class="news-feed-bg">
	  <a name="news-feed-anchor"></a>
		<div class="nav-home">
      <a href="/">
        <img src="/images/logo-2.png" class="rotate" alt="circle-logo" title="Born through DBC!">
      </a>
      <a href="/"><h3>circle</h3></a>
      <% if current_user && !current_family.nil? %>
        <div class="search-box">
          <form action="/tags/search" method="get">
            <input type="text" name="tags" placeholder="search for memories">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="nav-links">
	        <a href="#"><i class="fa fa-heart"></i> memories</a>
          <a href="/families/<%= current_family.id %>/posts/new" id="new-upload"><i class="fa fa-plus"></i>	new</a>  
          <a href="/users/<%= current_user.id %>/edit"><i class="fa fa-cog"></i> settings</a>
          <a href="/families/<%= current_family.id %>/users/<%= current_user.id %>/inbox"><i class="fa fa-inbox"></i> inbox</a>
          <form action="/sessions/destroy" method="post">
            <input name="_method" type="hidden" value="delete" />
            <button type="submit"><i class="fa fa-sign-out"></i> sign out</button>
          </form>
        </div>
      <% end %>
    </div>
		<div class="news-feed-container">
			  <% if @notice %>
				  <div class="notice"><p id="notice-alert"><%= @notice %></p></div>
			  <% else %>
				  <div class="notice"><p id="notice-flash"><%= params[:notice] %></p></div>
			  <% end %>

		  <div class="upload-menu" id="upload-menu">
		  	<a href="/families/<%= current_family.id %>/posts/new"><i class="fa fa-pencil"></i> post</a>
		  	<a href="/families/<%= current_family.id %>/polls/new" id="upload-poll"><i class="fa fa-pie-chart"></i> poll</a>
		  	<a href="/families/<%= current_family.id %>/albums/new" id="upload-album"><i class="fa fa-book"></i> album</a>
		  	<a href="/families/<%= current_family.id %>/photos/new" id="upload-photo"><i class="fa fa-camera-retro"></i> photo</a>
		  	<a href="#" id="close"><i class="fa fa-times"></i></a>
		  </div>

		  <div class="inbox-container">
			  <div class="inbox-header-container">
			  	<div class="inbox-header"><h1>Inbox</h1></div>
			  	<div class="inbox-nav-links">
				  	<a href="#" id="recieved-msg">recieved</a>
				  	<a href='#' id="recieved-msg">sent</a>
			  	</div>
			  </div>

			  <div class="received-messages">
				  <h2>Received Messages</h2>
			  	<% current_family.messages.each do |message| %>
			  		<% if message.recipient.id == current_user.id %>
			  			<p>"<%= message.description %>" from <%= message.user.nickname %></p>
			  		<% end %>
			  	<% end %>
			  </div>
			  
			  <div class="sent-messages">
				  <h2>Sent Messages</h2>
				  <% current_family.messages.each do |message| %>
				  	<% if message.user.id == current_user.id %>
				  		<p>"<%= message.description %>" to <%= message.recipient.nickname %></p>
				  	<% end %>
				  <% end %>
			  </div>

			  <div class="send-messages">
			  	<% @family.users.each do |user| %>
			  		<% if user == current_user %>
			  			<% next %>
			  		<% else %>
			  			<div>
			  				<p><%= user.nickname %></p>
			  				<form action="/families/<%= @family.id %>/users/<%= current_user.id %>/recipient/<%= user.id %>/messages/new" method="post">
			  					<input type="text" name="description">
			  					<input type="submit" value="send message">
			  				</form>
			  			</div>
			  		<% end %>
			  	<% end %>
			  </div>
			</div>
		</div>
	</div>
</div>